@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

.sm {
  padding: 12px 20px;
  width: 320px;
  height: 200px;
  background: #222430;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.smChart {
  width: 280px;
  height: 120px;
}
.mdChart {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid crimson;
}
.title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 40px;
  color: #fff;
}
.lg {
  margin: 10px 0;
  padding: 12px 20px 24px;
  width: 100%;
  min-height: 272px;
  background: #222430;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.md {
  margin-top: 10px;
  padding: 12px 20px;
  width: 656px;
  height: 416px;
  background: #222430;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
