.main {
  padding: 16px 20px;
  width: 320px;
  height: 200px;
  background: #222430;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.smChart {
  width: 280px;
  height: 120px;

  /* border: 2px solid #ddd; */
}
.title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}
/* .lgChart {
  border: 1px solid #ddd;
  height: 120px;
} */
.lg {
  margin: 10px 0;
  padding: 16px 20px;
  width: 100%;
  min-height: 200px;
  background: #222430;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
